.button1 {
    margin-bottom: 90px;
    justify-content: center;
    width: 120px;
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
  .button2 {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
  .description-artist h1 {
    /* margin-top: 30px; */
    text-align: center;
  }
  
  .card-one h4 {
    text-align: center;
    color: black;
    margin-bottom: -17px;
  }
  
  .card-one p {
    padding-top: 10px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: -17px;
  }
  
  .card-one h1 {
    padding-top: 20px;
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 50px;
  }
  .card-one {
    border-radius: 10px;
    text-align: center;
    background-color: cornsilk;
    padding-left: -50px;
    padding-right: 10px;
    justify-content: center;
    margin-left: 110px;
  }
  
  .card-one img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 5px;
    width: 40%;
    float: left;
  }
  
  h3 {
    text-align: center;
  }
  